.container{
    padding-top: 100px;
    align-content: center;
    background-color: antiquewhite;
}
.text{
    padding-bottom: 40px;
}
@media screen and (min-width: 601px) {
    div.text {
      font-size: 40px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.text{
      font-size: 20px;
    }
  }