.float-container{
    padding: 20px;

}
.float-child{
    width: 50%;
    float: left;
    padding: 20px;

    
}
.box1{
    padding-left: 10px;
}
.navbar{
    width: auto;
    border-radius: 10px;
    
}
@media screen and (min-width: 601px) {
    div.text {
      font-size: 40px;
    }
    div.navbar{
        width: auto;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.text{
      font-size: 20px;
    }
    div.navbar{
        width: auto;
    }
  }